[project]
	description = Vim plugin for super fast Cscope/GNU GLOBAL results navigation using quickfix window
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tryoutchen
[access "refs/for/refs/*"]
	read = group user/tryoutchen
	push = group user/tryoutchen
	label-Code-Review = -2..+2 group user/tryoutchen
	label-Verified = -1..+1 group user/tryoutchen
	rebase = group user/tryoutchen
	removeReviewer = group user/tryoutchen
	submit = group user/tryoutchen
[access "refs/heads/*"]
	read = group user/tryoutchen
	create = group user/tryoutchen
	push = +force group user/tryoutchen
	pushMerge = group user/tryoutchen
[access "refs/tags/*"]
	push = group user/tryoutchen
	push = +force group user/tryoutchen
